.tit1  {
    color: #755071;
    font-weight: bolder;
    font-size: 17px;
  
    margin-bottom: 18px;
    flex-direction: line;
    padding-left: 1%;
}

.headerSection {
    display: flex;
    align-items: center;
}

.imageContainer {
    position: relative;
    width: 150px;
    height: 150px;
}

.imageOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.profileImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profileBorder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iconpe {
 width: auto;
 height: auto;
 flex-direction: line;
 margin-right: 10px;
}

.titp  {
    color: #755071;
    font-weight: bolder;
    font-size: 19px;
    margin: 3%;
    white-space: nowrap;
}

.titp2  {
    color: #755071;
    font-weight: bolder;
    font-size: 17px;

    white-space: nowrap;
}

.espaco {
    margin: 28px;
}

.seup {
    display: flex;
   justify-content: space-between;
    flex-direction: line;
}

.bte {
    width: 224;
    height: 224;
}

.btcont {
display: flex;
align-items: center;
justify-content: center;
}

.dencont {
    display: flex;
align-items: center;
justify-content: center;
}

.botaoperigo {
    background-color: rgb(192, 37, 37);
}

.comps {
    align-items: center;
    display: flex;
   flex-direction: column;
}

input {
    border-color: #755071;
    border-radius: 12px;
    width: 800px;
}
input:focus { 
    outline: none;
    border-color: #755071;
    box-shadow: 0 0 3px #755071;
 }

textarea {
  
  border-radius: 8px;
  padding: 5px;
  border:solid 2px #517655;
}

textarea:focus{
    outline: none;
    border-color: #517655;
    box-shadow: 0 0 5px #517655;
 }


.iconst {
    width: 238x;
    height: 164px;
    flex-direction: line;
    margin-right: 10px;
   }

   .comps2 {
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
   }

   .th {
    color: #517655;
    font-weight: bolder;
    font-size: 17px;
  
    white-space: nowrap;
   }

   .suahist {
    display: flex;
    flex-direction: column;
    justify-content: left;
   }

   .stf {
    display: flex;
   
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;


   }



   .th2 {
    color: #517655;
    font-weight: bolder;
    font-size: 17px;
    display: flex;
    justify-content: flex-start;
  
    white-space: nowrap;
   }

   .asfotos {
    
    display: flex;
    flex-direction: column;
    max-width: 46%


   }

   .tfts{
    display: flex;
    justify-content: flex-start;
    
   }

   .secth2 {
   justify-content: right;
   }

   .btroxo {
    width: 11vw;
    height: 3vw;
    border-radius: 8px;
    background-color: #B296AD;
    font-size: max(12px, 1.5vh);
    align-items: center;
    justify-content: center;
    align-items: center;
   }

   .btbranco {
    width: 13vw;
    height: 2.5vw;
    border-radius: 4px;
    color: #B296AD;
    background-color: white;
    border: solid 1px #B296AD;
    font-size: max(10px, 1.5vh);
    align-items: center;

   }