#borda{
    width: 100%;
    height: fit-content;
    justify-content: center;
    display: flex;
  
}

.mainContainer{
    display: flex;
   
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.texto {
    gap: 1vw;
}

.topo {
    margin-top: 9%;

}
.tit1  {
    color: #755071;
    font-weight: bolder;
    font-size: 17px;
  
    margin-bottom: 18px;
    flex-direction: line;
    padding-left: 1%;
}

.headerSection {
    display: flex;
    align-items: center;
}

.imageContainer {
    position: relative;
    width: 150px;
    height: 150px;
}

.imageOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.profileImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profileBorder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iconpe {
 width: auto;
 height: auto;
 flex-direction: line;
 margin-left: 5vw;
}

.titp  {
    color: #755071;
    font-weight: bolder;
    font-size: 19px;
    margin: 3%;
    white-space: nowrap;
}

.titp2  {
    color: #755071;
    font-weight: bolder;
    font-size: 17px;
    margin-left: 0.6vw;
    white-space: nowrap;
}

.espaco {
    margin: 28px;
}

.espaco2 {
    margin: 1px;
}

.seup {
    display: flex;
   justify-content: left;
    flex-direction: line;
   gap: 3vw;
   
}

.bte {
    width: 224;
    height: 224;
}

.btcont {
display: flex;
align-items: center;
justify-content: center;
}

.dencont {
    display: flex;
align-items: center;
justify-content: center;
}

.todes {
    justify-content: center;
    display: flex;
}


.comps {
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5vw;
    width: 85%;
}

input {
    border-color: #755071;
    width: 100%;
    margin: 0%;
    border-radius: 4px;
    height: 52px;
    padding-inline: 4%;
    border-radius: 12px;
    min-width: 15%;
}
input:focus { 
    outline: none;
    border-color: #755071;
    box-shadow: 0 0 3px #755071;
 }

textarea {
  width: 35vw;
  border-radius: 8px;
  padding: 0.7vw;
  border:solid 2px #517655;
  resize: none;
}

textarea:focus{
    outline: none;
    border-color: #517655;
    box-shadow: 0 0 5px #517655;
 }


.iconst {
    width: 238px;
    height: 164px;
    flex-direction: line;
    cursor: pointer;
   }

  .lixeirinha{
    display: flex;
    flex-direction: row;
    
    
  }

  .lixeira1 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: right;
    width: 35px;
    height: 35px;
}


.stf {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
   }


   .comps2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    flex-wrap: wrap;
   
   }

   .th {
    color: #517655;
    font-weight: bolder;
    font-size: 17px;
  
    white-space: nowrap;
   }

   .suahist {
    display: flex;
    flex-direction: column;
    justify-content: right;
   }




   .th2 {
    color: #517655;
    font-weight: bolder;
    font-size: 17px;
    display: flex;
    justify-content: flex-start;
  
    white-space: nowrap;
   }

   .asfotos {
    
    display: flex;
    flex-direction: column;
    max-width: 46%;
   }

   .tfts{
    display: flex;
    justify-content: flex-start;
    
   }

   .secth2 {
    justify-content: center;
    padding-top: 8vh;
    padding-bottom: 2vh;
    }
 
    .btroxo {
     width: 180px;
     height: 40px;
     border-radius: 8px;
     background-color: #B296AD;
     font-size: max(13px, 1.5vh);
     align-items: center;
     justify-content: center;
     padding: 0%;
     margin: 2%;
    }
 
    .btbranco {
 
    width: 180px;
    height: 40px;
     border-radius: 8px;
     color: #B296AD;
     background-color: white;
     border: solid 1px #B296AD;
     font-size: max(13px, 1.5vh);
     align-items: center;
     padding: 0%;
     margin: 2%;
    }
 
    .butsalv {
        width: 160px;
        height: 40px;
     border-radius: 8px;
     background-color: #517655;
     font-size: max(13px, 1.5vh);
     align-items: center;
     justify-content: center;
     align-items: center;
    }

    .botaoperigo {
        background-color: rgb(192, 37, 37);
        width: 180px;
        height: 40px;
        border-radius: 8px;
        padding: 0%;
     margin: 2%;
    }

    .botoestras {
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    width: 100%;
    }

    .botoesCaixa{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

   
    .comp1 {
        display: flex;
        justify-content: left;
        flex-direction: column;
       flex-wrap: wrap;
        gap: 1vw;
    
        
    }
    .comp2 {
        display: flex;
        justify-content: right;
        flex-direction: column;
       
        gap: 1vw;
    }

    .todos {
        justify-content: center;
        
        display: flex;
        gap: 10vw;
    }

 .slct {
    border-radius: 8px;
    
  padding: 5px;
  border:solid 1px #755071;
  resize: none;
 }
 .slct:focus {
    outline: none;
    border-color: #B296AD;
    box-shadow: 0 0 5px #B296AD;
 }

 .continfos{
    justify-content: left;
    flex-direction: column;
 }


    @media (max-width: 1320px) {

        .topo {
            margin-top: 11%;
        }

    }

    @media (max-width: 1154px) {
        .topo {
            margin-top: 12%;
        }
    }

    @media (max-width: 900px) {
        .comps2 {
           flex-direction: column;
        }
        .topo {
            margin-top: 12%;
        
        }

    }

    @media (max-width: 700px) {
        .seup{
            margin-top: 10%;
        }

    }