#borda {
  width: 98vw;
  height: fit-content;
  justify-content: center;
  display: flex;
}

.mainContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

.formu{
  display: flex;
  width: 100%;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.estilooh2 {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  color: #85a188;
  gap: 1rem;
  align-items: center;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 24px;
  background-color: #7ca377;
  font-size: max(10px, 1.5vh);
  padding: 16px;
  color: white;
  text-align: center;
  font-weight: bold;
  height: 30px;
  width: 100px;
}

.tag2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 24px;
  background-color: #7ca377;
  font-size: max(10px, 1.5vh);
  padding: 16px;
  color: white;
  text-align: center;
  font-weight: bold;
  height: 30px;
  width: 90px;
}

.telefone{
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: max(14px, 1vw);
  align-items: center;
  color: #517655;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content {
  display: flex;
  color: #797979;
  width: 90%;
  height: auto;
  margin: 5% auto 1%;
  justify-content: center;
  align-items: center;
}

.content1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  border-radius: 12px;
}

.img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: contain;
}

.contentImg {
  width: 20%;
  min-width: 116px;
  height: auto;
  box-shadow: 0 0 8px 1px #c5c5c5;
  border-radius: 24px;
}

.btnedit {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
}

.botoeswrap {
  display: flex;
  flex-direction: row;
  width: 76%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contentText {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 28vh;
  color: #797979;
  padding: auto;
  font-size: max(10px, 2vh);
  gap: 8px;
  
}

.textoetag{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap:1vw;
}

.qualquer{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.botao1 {
  width: 120px;
  height: 44px;
  border-radius: 6px;
  background-color: #b296ad;
  font-size: max(11px, 2vh);
  margin: 0%;
  margin-right: 7%;
}

.botao {
  width: 100px;
  height: 30px;
  padding-block: 4px;
  border-radius: 6px;
  background-color: #b296ad;
  font-size: max(10px, 1.5vh);
  align-items: center;
  justify-content: center;
}

.botao2 {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  color: #b296ad;
  background-color: white;
  border: solid 1px #b296ad;
  font-size: max(10px, 1.5vh);
  align-items: center;
}

.content2 {
  display: flex;
  width: 70%;
  gap: 2rem;
  padding: 3%;
  border-radius: 12px;
  margin-block: 8px;
  justify-content: center;
}

.container1 {
  display: flex;
  width: 90%;
  gap: 5vw;
  justify-content: center;
  margin: auto;
}

.contentText2 {
  width: 100%;
  height: fit-content;
  color: #797979;
  min-width: min-content;
  font-size: max(8px, 2vh);
  border: 2%;
  justify-content: center;
  align-items: center;
}

.contentText3 {
  width: 100%;
  height: fit-content;
  min-height: 32vh;
  color: #797979;
  padding: 16px;
  font-size: max(8px, 2vh);
  box-shadow: 0 0 8px 1px #c5c5c5;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}

.caixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  gap: 2.5rem;
  min-width: 300px;
}

.contentText4 {
  width: 100%;
  height: auto;
  min-width: 200px;
  color: #797979;
  font-size: max(8px, 2vh);
  box-shadow: 0 0 10px 2px #c5c5c5;
  border-radius: 16px;
}

.espaco {
  margin: 2vh;
}

.imgg {
  width: 100%;
  height: 100%;
  min-height: 40px;
  border-radius: 16px;
  cursor: pointer;
}

.estilouser {
  color: #b296ad;
}

.espacolista {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1vw;
  margin-block: 8px;
  align-items: center;
}

.titulo {
  color: #517655;
  font-weight: bolder;
}

.container2 {
  display: flex;
  width: 100%;
  height: 100%;
}

.content3 {
  display: flex;
  flex-direction: row;
  width: 99vw;
  height: 76vh;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  background-color: #8ac18e;
  overflow: hidden;
  padding-block: 20px;
  margin-top: 8vh;
}

.content3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #d4a6c8;
  clip-path: ellipse(70% 70% at 100% 25%);
  transform: translateX(20%);
  z-index: 0;
}

.content3 > * {
  position: relative; /* Mantém os elementos acima da forma lilás */
  z-index: 1;
}

.imggg {
  width: 30vw;
  border-radius: 32px;
  height: 40vh;
}

.deleteButton {
  width: 80px;
  height: 24px;
  padding-block: 4px;
  border-radius: 6px;
  background-color: #b296ad;
  font-size: max(10px, 1.5vh);
  align-items: center;
  justify-content: center;
  margin: 0% 0% 0% 5%;
}

.comentsCaixa {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.comentarios {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .mainContainer {
    margin: 5vh auto;
  }

  .contentImg {
    width: 20%;
  }
  .contentText {
    width: 90%;
    padding: 0;
  }
  .content1 {
    justify-content: center;
    gap: 3rem;

  }
  .botoeswrap {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .btnedit {
    width: 90%;
    justify-content: space-around;
    flex-direction: row;
  }
  .container1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  .content2 {
    width: 80%;
  }
  .contentText3 {
    width: 100%;
  }
  .espacolista {
    grid-template-columns: 1vw 12vw;
    gap: 3vw;
    grid-template-columns: 4vw 16vw;
  }
  .content {
    flex-direction: column;
    gap: 2rem;
  }

  .container2 {
    flex-direction: column;
  }

  .content3 {
    height: max-content;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .imggg {
    border-radius: 32px;
    padding: 24px;
    width: 80vw;
  }
}
