#borda{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.estiloh3{
    color: #517655;
    font-weight: bolder;
    font-size: max(18px, 1.5vw);
    margin-bottom: 18px;
 }
 
 .estiloh4{
     color: #797979;
     font-weight: bold;
     font-size: max(12px, 1vw);
     margin-bottom: 24px;
 }

 .img{
    display: flex;
    width: 100%;
}

.contentImg{
    width: 90%;
    justify-content: center;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #797979;
    padding: 6px;
    
    gap: 5rem;
    width: 90%;
    height: 24vw;
}

.content1{
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 2rem;
}