/* Footer general styles */
.footer {
    background-color: #3B3B3B; /* Dark gray background for the main footer */
    color: #E7E3E0;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

.copyz {
    color: #DDDDDD;
    font-weight: lighter;
}
.copys {
    display: none;
    color: #DDDDDD;
    font-weight: lighter;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 1rem 0;
    padding-left: 12%;
}
/* Linhas do menu hamburger */
.btn_line {
    display: relative;
    flex-direction: line;
    width: 200px;
    height: 1px;
    background-color: #517655;

    margin-top: 5px;
    margin-left: -8rem;
    margin-right: -5rem;
  }
  
.fttitulo {
    color: #ffffff;
    font-weight: bold; 
    font-size: max(12px, 1vw);
    font-size: min(12px, 1vw);

}

.ftcamp {
    color: #492121;
    /* font-weight: bold; */
    font-size: max(12px, 1vw);
    font-size: min(12px, 1vw); 
}

.espaco2 {
    margin: 18px;
}
.ulft {
margin-top: 20px;
white-space: nowrap;
}
.navSections {
    display: flex;
    gap: 5rem;
}

.section h4 {
    margin-bottom: 0.5rem;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.section ul li a {
    color: #c2c2c2;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: lighter;
}

.section ul li a:hover {
    /* color: #7ca474; /* Light green hover effect */
    color: white
}

.logoContainer {
    display: flex;
    flex-direction: column;
    
    text-align: center;
    padding-bottom: 1%;
    justify-content: right;
    padding-right: 12%;
}

.secredes {
    display: flex;
    flex-direction: line;
}

.redes {
    width: 60px;
    height: 37px;
    
}

.logo {
    width: 148px;
    height: 190px;
    
}

.espt {
    padding-left: 15%;
}
.textoredes {
    color: #bebebe;
    /* font-weight: bold; */
    font-size: max(9px, 1vw);
    font-size: min(9px, 1vw);
    margin-bottom: 24px;
    padding-bottom: 0px;
}
/* Footer bottom section */
.footerBottom {
    background-color: #20212B; /* Darker gray background for the copyright area */
    padding: 1rem 0;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    color: #E7E3E0;
    font-size: 0.775rem;
    
}


@media (max-width: 913px) {
  /* Esconder os links fora do menu em telas pequenas */
  .ulft {
    display: none;
  }

 .fttitulo {
    display: none;
 
 }
  
.textoredes {
    display: none;
}
.btn_line {
    display: none;
  }

.logoContainer {
    display: flex;
    flex-direction: column;
    
    text-align: center;
    padding-bottom: 0%;
    justify-content: center;
    padding-right: 0%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
}
.copyz {
    display: none;
}
.copys {
    display: flex;
    align-items: center;
    justify-content: center;
}

  /* Ajuste adicional para telas muito pequenas (como 320px) */
  @media (max-width: 400px) {
    .ulft {
      width: 220px; /* Ajusta a largura do menu em telas muito pequenas */
    }
  }
}