.navfot{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 8px;
     opacity: 45%;
   }

   ul{
       display:inline;
   }
   
   
   li {
   list-style-type: none;
   gap: 30px;
   }
   
   footer{
       background-color: #7ca474;
       position: fixed;
       bottom: 0;
       width: 60%;
       height: 2rem;
       left: 20%; 
   }
   
   .navLinks{
       display: flex;
       gap: 2rem;
   }
   
   .tit {
       color:white;
   }