/* Footer general styles */
.footer {
    background-color: #3B3B3B; /* Dark gray background for the main footer */
    color: #E7E3E0;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 1rem 0;
}

.navSections {
    display: flex;
    gap: 5rem;
}

.section h4 {
    margin-bottom: 0.5rem;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 0.5rem;
}

.section ul li a {
    color: #E7E3E0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.section ul li a:hover {
    color: #7ca474; /* Light green hover effect */
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    width: 80px;
    height: auto;
    margin-bottom: 1rem;
}

/* Footer bottom section */
.footerBottom {
    background-color: #2B2B2B; /* Darker gray background for the copyright area */
    padding: 1rem 0;
    margin-top: 1rem;
    text-align: center;
    width: 103%;
    color: #E7E3E0;
    font-size: 0.875rem;
}
