* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

header {
  background-color: #7CA377;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1120px;
  padding: 16px;
  margin: auto;
}

li {
  list-style-type: none;
}

 .navlinks{
  display: flex;
  gap: 12px;

} 

/*

 .navlinks li a {
  text-align: center;
  line-height:  30px;
  width: 100%;
  display: block;
} */

.hamburguer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 20px;
}

.btn_line{
  width: 24px;
  height: 3px;
  background-color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  padding: 0%;
  margin: 0%;
}

