/* Reset de padding e margin */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos para o header */
header {
  background-color: #7CA377;
  position: relative;
  color: #E7E3E0;
}

/* Container de navegação */
.navh {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  margin: auto;
}

/* Estilos dos itens da lista */
li {
  list-style-type: none;
}

/* Links de navegação visíveis em telas grandes */
.navlinksLarge {
  display: flex;
  gap: 2.5rem; /* Mantém espaçamento entre os links */
<<<<<<< HEAD
=======
  margin-left: 28vw; /* Movendo os links mais à direita */
>>>>>>> f7a4d1851774fe9b1c01a7fa5c05c0967d3e45f6
}

/* Links de navegação dentro do menu hambúrguer (para telas pequenas) */
.navlinksMobile {
  display: none; /* Escondido até o hambúrguer ser clicado */
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #ffffff;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(100%);
  opacity: 0;
}

/* Menu hamburger */
.hamburguer {
  display: flex; /* Sempre exibido */
  flex-direction: column;
  gap: 6px;
  margin-right: 20px; /* Mantém o menu hambúrguer deslocado da borda direita */
  cursor: pointer;
}

/* Linhas do menu hamburger */
.btn_line {
  width: 24px;
  height: 3px;
  background-color: #E7E3E0;
}

/* Estilos dos links */
a {
  text-decoration: none;
  color: inherit;
}

/* Container da imagem */
.imgContainer {
  width: 40%;
  margin-left: 3vw;
}

img {
  max-width: 100%;
  min-width: 50px;
}

/* Menu de navegação aberto */
.navlinksMobile.show {
  display: flex;
  transform: translateX(0);
  opacity: 1;
}

/* Esconde links "Quem somos" e "Doação" no menu em telas grandes */
.hideOnLarge {
  display: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  /* Esconder os links fora do menu em telas pequenas */
  .navlinksLarge {
    display: none;
  }

  /* Mostrar os links "Quem somos" e "Doação" dentro do menu hambúrguer em telas pequenas */
  .hideOnLarge {
    display: block;
  }

  /* Mostrar os links dentro do menu hambúrguer em telas pequenas */
  .navlinksMobile {
    display: flex;
  }
}
