#borda{
    padding: 3%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.estiloh3{
   color: #517655;
   font-weight: bolder;
   font-size: max(18px, 1.5vw);
   margin-bottom: 18px;
}

.estiloh4{
    color: #797979;
    font-weight: bold;
    font-size: max(12px, 1vw);
    margin-bottom: 24px;
}

h5 {
    text-align: justify;
}

.container{
  display: flex;
}

.content{
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content1{
    display: flex;
    flex-basis: 20vw;
    min-width: 200px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    padding: 4px;
}

.imgg{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: clamp(100px, 100%, 400px);
    margin: auto;
}

.contentt{
    flex-wrap: wrap;
}

.qualquer {
    gap: 4rem;
    display: flex; 
    text-align: justify;
}

.imggg{
    border-radius: 16px;
    display: flex;
    width: 30vw;
}

@media(max-width: 600px) {
  }

.texto{
    width: 60%;
    margin: 4px
}

.espaco {
    margin: 32px;
}

.banner {
    margin-bottom: 8px;
    margin-top: 8px;
}

.contenttext{
    color: #B296AD;
    margin: 4px;
}

.contenttitle{
    color: #755071;
    margin: 4px;
}