#borda{
    padding: 3%;
    width: 100%;
}

.estiloh3{
   color: #517655;
   font-weight: bolder;
   font-size: max(18px, 1.5vw)
}

.estiloh4{
    color: #797979;
    font-weight: bold;
    font-size: max(12px, 1vw)
}

h5 {
    text-align: justify;
}

.container{
  display: flex;
  flex: auto;
}

.content{
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content1{
    width: 20vw;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    padding: 4px;
    display: flex;
}

.imgg{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: clamp(50px, 100%, 300px);
    margin: auto;
}
