#borda{
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.estiloh3{
    color: #517655;
    font-weight: bolder;
    font-size: max(18px, 1.5rem);
    margin-bottom: 18px;
    padding-left: 4%;
 }
 
 .estiloh4{
     color: #b6b5b5;
     font-weight: bold;
     font-size: max(10px, 1rem);
     margin-bottom: 24px;
     padding-left: 4%;
 }

h4 {
    text-align: justify;
}
.banner {
    width: 100%;
}

.contslider{
    width: 100%;
    margin: 4% auto auto auto;
    padding: 0%;
  }


.container{
  display: flex;
  width: 90%;
  flex-direction: row;
  padding: 2%;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.content{
    display: flex;
    width: 22%;
    height: 50%;
    min-width: 225px;
    box-shadow: 0 0 8px 1px #c5c5c5;
    flex-direction: column;
    border-radius: 20px;
    gap: 1rem;
}

.caixa{
    width: 100%;
    height: 90%;
    padding: auto;
    justify-content: center;
    align-items: center;
}

.caixa2{
    display: flex;
    width: 100%;
    height: 34vh;
}

.textos{
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: center;
    align-items: center;
}

.imgg{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container2{
    display: flex;
    width: 98vw;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
}

.content2{
    display: flex;
    font-size: max(16px, 2vh);
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    color: #797979;
    margin-block: 1rem;
}

.contentt {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
}

.imggg{
    display: flex;
    width: 100%;
    min-width: 175px;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
}

.contentImg{
    width: 64%;
    justify-content: center;
    align-items: center;
}



.z{
    z-index: 2;
}

.sditem{

    width: 100%;
    height: 100%; /* Ajustável para a proporção desejada */
}

#borda .slick-dots li button:before {   
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #19a725
    }
    
    #borda .slick-dots li.stick-active
    button:before {
    opacity: .75;
    color: #1d8f10;
    }

@media(max-width:  920px) {
    .contslider{
        margin: 1% auto auto auto;
        width: 100%;
       
    }
}
@media (max-width: 768px) {
    .sditem {
       
       
    }
}

@media (max-width: 480px) {
    .sditem {
      height: auto;
    }
}
@media(max-width:  800px) {
    .content2 {
        flex-direction: column;
        margin: 0% auto 2rem auto;
    }
    .contentImg{
        width: 70%;
        height: 36%;
    }
    .content4{
        flex-direction: column-reverse;
        width: 100%;
    }
    .inputt{
        height: 8vw;
    }
    .contslider{
        margin: 1% auto auto auto;
        height: auto;
    }
}

@media(max-width:  600px) { /*não apaguem esse a gi está usando*/
    .contslider{
        margin-top: 14%;
        width: 100%;
        
    }
    
}

@media(max-width:  400px) {
    .contslider{
        margin-top: 26%;
        width: 100%;
        
    }
}
@media(max-width:  340px) {
    .contslider{
        margin-top: 33%;
        width: 100%;
        
    }
}
@media(max-width:  260px) {
    .contslider{
        margin-top: 39%;
        width: 100%;
        
    }
}
@media(max-width:  220px) {
    .contslider{
        margin-top: 44%;
        width: 100%;
        
    }
}
@media(max-width:  180px) {
    .contslider{
        margin-top: 56%;
        width: 100%;
        
    }
}
@media(max-width:  130px) {
    .contslider{
        margin-top: 74%;
        width: 100%;
        
    }
}

@media(max-width:  100px) {
    .contslider{
        margin-top: 80%;
        width: 100%;
        
    }
}

.texto {
    margin: 4px
}

.espaco {
    margin: 1rem;
}

.banner {
    margin-bottom: 8px;
    margin-top: 8px;
}

.contenttext{
    font-size: max(12px, 1vw);
    color: #B296AD;
    margin: 4px;
    padding: 8px;
}

.contenttitle{
    color: #755071;
    margin: 4px;
    padding: 8px;
    text-align: center;
}

.container3{
    display: flex;
    padding: 4%;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.content3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    width: 95%;
}

.imgparc{
    display: flex;
    flex-basis: 12vw;
    min-width: 160px;
    height: auto;
}

.img4{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    box-shadow: 0 0 8px 1px #b9b9b9;
}

.content4{
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    padding: 2%;
    margin-bottom: 15vh;
}

.forms{
    display: flex;
    flex-direction: column;
    width: 45vw;
}

.btst {
    width: 90px;
    height: 36px;
    border-radius: 6px;
    background-color: #B296AD;
    font-size: max(10px, 2vh);
    margin: 0%;
    margin-right: 7%;
}

.contentText{
    display: flex;
    width: 65%;
    font-size: max(16px, 1vh);
    padding-inline: 2%;
    color: #797979;
}

.inputt{
    width: 90%;
    margin: 0%;
    border-radius: 4px;
    height: 44px;
    padding-inline: 4%;
}

.titulo{
    display: flex;
    justify-content: left;
    width: 100%;
    flex-direction: column;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 4px;
}

.testando {
   background-color: #517655;
   height: 39v;
}