#borda{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.estiloh3{
    color: #517655;
    font-weight: bolder;
    font-size: max(18px, 1.5rem);
    margin-bottom: 18px;
 }
 
 .estiloh4{
     color: #797979;
     font-weight: bold;
     font-size: max(10px, 1rem);
     margin-bottom: 24px;
 }

 .img{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.contentImg{
    width: 30%;
    height: 12vw;
    justify-content: center;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #797979;
    width: 100%;
    gap: 5rem;
}

.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14vw;
    min-height: 20vh;
    gap: 2rem;
    padding: 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    margin-block: 20px;
}

.contentText{
    width: 100%;
    color: #797979;
    font-size: 2vw;
}
