#borda{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.estiloh2{
    color: #85A188;
}

.img{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.contentImg{
    width: 50%;
    min-width: 90px;
    height: 60%;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
}

.container{
    display: flex;
    width: 100%;
    min-width: 50vw;
    
    padding: 2%;
    background-color: aliceblue;
}

.content{
    display: flex;
    color: #797979;
    width: 100%;
    height: 40vh;
    gap: 5rem;
}

.content1{
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 8px;
    border-radius: 12px;
    margin-block: 24px;
}

.contentText{
    width: 100%;
    color: #797979;
    padding: 8px;
    font-size: max(10px, 2vh);
}

.botao1{
    width: 14vw;
    height: 3vw;
    border-radius: 20px;
    background-color: #B296AD;
    font-size: max(10px, 1vh);
    margin: 0%;
    margin-right: 7%;
}

.botao{
    width: 10vw;
    height: 3vw;
    border-radius: 4px;
    background-color: #B296AD;
    font-size: max(10px, 1vh);
    align-items: center;
    justify-content: center;
}

.botao2{
    width: 10vw;
    height: 3vw;
    border-radius: 4px;
    color: #B296AD;
    background-color: white;
    border: solid 1px #B296AD;
    font-size: max(10px, 1vh);
    align-items: center;
}