#borda{
    width: 96vw;
    height: fit-content;
    justify-content: center;
    display: flex;
}

.mainContainer{
    width: 100%;
    gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.estiloh2{
    color: #85A188;
}

.img{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: contain;
}

.contentImg{
    width: 22%;
    min-width: 116px;
    height: auto;
    box-shadow: 0 0 8px 1px #c5c5c5;
    border-radius: 24px;
}

.container{
    display: flex;
    width: 100%;
}

.content{
    display: flex;
    color: #797979;
    width: 100%;
    height: auto;
    margin: 4% auto 1%;
    justify-content: center;
    align-items: center;
}

.content1{
    display: flex;
    width: 100%;
    gap: 2rem;
    border-radius: 12px;
    
}

.contentText{
    width: 96%;
    height: 28vh;
    color: #797979;
    padding: 8px 8px 8px 32px;
    font-size: max(10px, 2vh);
    gap: 1rem;
}

.botao1{
    width: 100px;
    height: 30px;
    padding-block: 4px;
    border-radius: 6px;
    background-color: #B296AD;
    font-size: max(10px, 1.5vh);
    margin: 0%;
    margin-right: 7%;
}

.botao{
    width: 100px;
    height: 30px;
    padding-block: 4px;
    border-radius: 6px;
    background-color: #B296AD;
    font-size: max(10px, 1.5vh);
    align-items: center;
    justify-content: center;
}

.botao2{
    width: 10vw;
    height: 2.5vw;
    border-radius: 4px;
    color: #B296AD;
    background-color: white;
    border: solid 1px #B296AD;
    font-size: max(10px, 1.5vh);
    align-items: center;
}

.content2{
    display: flex;
    width: 70%;
    gap: 2rem;
    padding: 3%;
    border-radius: 12px;
    margin-block: 8px;
    justify-content: center;
    
}


.container1{
    display: flex;
    width: 100%;
    gap: 5vw;
    justify-content: center;
}


.contentText2{
    width: 100%;
    height: fit-content;
    color: #797979;
    min-width: min-content;
    font-size: max(8px, 2vh);
    border: 2%;
    justify-content: center;
    align-items: center;
    
}

.contentText3{
    width: 100%;
    height: fit-content;
    min-height: 32vh;
    color: #797979;
    padding: 16px;
    font-size: max(8px, 2vh);
    box-shadow: 0 0 8px 1px #c5c5c5;
    border-radius: 16px;
    justify-content: center;
    align-items: center;  
}

@media(max-width: 900px) {
    .mainContainer{
        margin: 12vh auto;
    }
    .contentImg {
        width: 20%;
    }
    .contentText {
        padding: 0;
    }
    .container1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6rem;
    }
    .content2{
        width: 80%;
    }
    .contentText3{
        width: 100%;
    }
    .espacolista{
        grid-template-columns: 1vw 12vw;
        gap: 3vw;
        grid-template-columns: 4vw 16vw;
    }
    .content{
        flex-direction: column;
        gap: 2rem;
    }
    .container2{
        flex-direction: column;
    }
}

.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    gap: 2.5rem;
    min-width: 300px;
}

.contentText4{
    width: 100%;
    height: auto;
    min-width: 200px;
    color: #797979;
    font-size: max(8px, 2vh);
    box-shadow: 0 0 10px 2px #c5c5c5;
    border-radius: 16px;
}

.espaco{
    margin: 2vh;
}

.imgg{
    width: 100%;
    height: 100%;
    min-height: 40px;
    border-radius: 16px;
    cursor: pointer;
}

.estilouser{
    color: #B296AD;
}

.espacolista{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1vw;
    margin-block: 8px;
    align-items: center;
}
.tag{
    display: inline-block;
    padding: 0.5vw 1vw;
    border-radius: 20px;
    background-color: #B296AD; 
    font-size: max(10px, 1.5vh); 
    margin-left: 1vw; 
    color: white; 
    text-align: center; 
    font-weight: bold; 
}

.titulo{
    color: #517655;
    font-weight: bolder;
}

.container2{
    display: flex;
    width: 100%;
    height: 100%;
}

.content3{
    display: flex;
    flex-direction: row;
    background-color: #B296AD;
    width: 95%;
    height: 50vw;
    justify-content: space-around;
    align-items: center;
}

.imggg{
    width: 26vw;
    height: auto;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 105vw;
    height: 100%;
    background-color: rgba(14, 12, 12, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 46vw;
    min-height: 480px;
    border-radius: 20px;
    z-index: 1001; 
    
}

.modalLeft {
    width: 540px;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #7CA377;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 1.5%;
    font-weight: lighter;
    justify-content: space-around;
    color: #ffffff;
    font-size: max(12px, 14px);
}

.textoPequeno{
    font-size: 8px;
}

.contentLogo{
    display: flex;
    width: 100%;
    justify-content: right;
}

.modalRight {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: auto;
    font-weight: lighter;
    color: #517655;
    background-color: rgba(255, 255, 250, 0.897);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo{
    display: flex;
    width: 15%;
    padding: 1% 1% ;
}

.modalHeader {
    display: flex;
    width: 10%;
    height: 5%;
    margin: 4%;
    position: relative;
}

.estiloh1{
    font-size: max(22px, 5.5vh);
}

.texto {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0% 0% 0% 7%;
    
}

.texto2 {
    font-size: max(16px, 3vh);   
}

@media (max-width: 700px) {
    .modalRight{
        display: none;
    }
    .modalLeft{
        width: 100%;
        border-radius: 20px;
        height: 100%;
    }
    .modalOverlay{
        width: 100%;
        height: 80%;
    }
}

.close {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.close:hover {
    color: #ff0000;
}

.modalBody {
    
   
}

.input{
    display: flex;
    width: 96%;
    height: 1vw;
    border-radius: 8px;
    border: none;
    margin: 0% 0% 2% 0%;
}

.select{
    display: flex;
    width: 96%;
    height: auto;
    padding: 1.5%;
    border-radius: 8px;
    border: none;
    margin: 0% 0% 2% 0%;
}

.btn{
    padding-block: 1.5vh;
    height: auto;
    background-color: #755071;
}

.modalInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.modalInputs img {
    width: 50px;
    margin: 0 auto;
    display: block;
}

.modalInputs label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.modalInputs input,
.modalInputs select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
}

.modalInputs input:focus,
.modalInputs select:focus {
    outline: none;
    border-color: #009688;
}

.modalText {
    margin-top: 20px;
    text-align: center;
    color: #555;
    font-size: 14px;
    line-height: 1.5;
}

.modalInputs select {
    cursor: pointer;
}

.modalImage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modalImage img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.modalContentSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalText {
    margin-top: 20px;
    text-align: justify;
    color: #555;
    font-size: 14px;
    line-height: 1.5;
}
