#borda{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.estiloh3{
    color: #517655;
    font-weight: bolder;
    font-size: max(18px, 2rem);
    margin-bottom: 18px;
 }
 
 .estiloh4{
     color: #b6b5b5;
     font-size: max(10px, 1.5rem);
     margin-bottom: 24px;
 }

 .img{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.contentImg{
    width: 25%;
    min-width: 100px;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    display: flex;
    width: 100%;
    color: #797979;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.content1{
    display: flex;
    justify-content: center;
    min-width: 155vh;
    height: 25%;
    gap: 1rem;
    padding: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    margin-block: 4%;
}

.contentText {
    width: 100%;
    height: 30%;
    color: #797979;
    padding-right: 5%;
}




.eh3 {
    font-size: max(18px, 1.2vw); /* Ajuste da fonte para caber melhor no layout */
    color: #85A188;
}



.espaco{
    margin: 3.5vw;
}