* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  
}

body{
  background: linear-gradient(to right, #517655, #B2CEB5);
}

input{
    display: flex;
    border: 1px solid #ccc;
    width: 95%;
    padding: 0.8rem;
    margin-top: 8px;
    border-radius: 8px;
    height: 16px;
  }
  
  select{
      display: flex;
      border: 1px solid #ccc;
      width: 95%;
      height: 28px;
      border-radius: 8px;
      font-size: 14px;
  }
  
  button {
      background-color: #517655;
      cursor: pointer;
      border-radius: 8px;
      padding: 4%;
      width: auto;
      color: #FFFFFF;
      border: none;
      font-weight: bold;
      margin: 4%;
      font-size: max(12px, 1rem);
  }
  
 section{
    display: grid;
    grid-template-columns: 2fr 2fr;
    
    font-size: max(16px, 1vw); 
 }
  
  .content{
    height: 98%;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 12px;
    margin-left: 6px;
    margin: 4px;
  }

  .content1{
    background-color: #FFFFFF;
    width: 55%;
    height: 22rem;
    padding: 6px;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    display: flexbox;
    position: relative;
    min-width: 275px;
    margin-top: 14px;
    
  }

  .containerImg{
    width: 45%;
    margin: 3rem;
  }

  @media(max-width: 35rem) {
    .containerImg {
      display: none;
    }
    section{
      margin: 4.5rem;
    }
}

  .content::-webkit-scrollbar{
    width: 6px;   
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #adadad;
  }
  
  .content::-webkit-scrollbar-track {
    background: white; 
    border-radius: 16px;
  }
  
  .content::-webkit-scrollbar-thumb {
    background-color: rgb(221, 221, 221);
    border-radius: 16px 
  }
  
  p {
      height: 20px;
  }
  
  .checkbox{
    display: inline;
    width: 90%;
    font-size: 1vw;
    border: 0%;
    padding: 0%;
    font-size: max(12px, 1.5vw);
  }
  
  .inputCheckbox {
    display: inline;
    width: 10%;
    font-size: 1vw;
    text-align: left;
    justify-content: center;
    align-items: center;
  }
  
  center {
      margin: 5%;
  }
  
  section {
      align-content: center;
      justify-items: center;
  }