* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

  }

  #borda{
    background: linear-gradient(to right, #517655, #B2CEB5);
    padding: 1%;
  }

input{
  display: flex;
  border: 1px solid #ccc;
  width: 95%;
  padding: 0.8rem;
  margin-top: 8px;
  border-radius: 8px;
  height: 16px;
}

.estiloh4{
    text-decoration: underline;
    color: rgb(54, 54, 54);
}

.estiloh5{
  color: #517655;
  text-align: end;
  padding-right: 18px;
}

button {
    background-color: #517655;
    cursor: pointer;
    border-radius: 8px;
    padding: 1%;
    width: 45%;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    margin: 6%;
    font-size: max(12px, 1vw);
}

.gridsection{
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-content: center;
    margin: 10%;
    background: linear-gradient(to right, #517655, #B2CEB5);
 }

 @media(max-width: 800px) {
    .containerImg {
        display: block;
    }
}

@media(max-width: 600px) {
    .containerImg {
        display: none;
    }
}
  
.content{
  height: 98%;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 12px;
  margin-left: 6px;
  margin: 6px;
  padding: 4px;
}

.content1{
  background-color: #FFFFFF;
  width: auto;
  height: 22rem;
  padding: 6px;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  display: flexbox;
  position: relative;
  min-width: 275px;
  margin-top: 14px;
}

.content::-webkit-scrollbar{
  width: 6px;   
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #adadad;
}

.content::-webkit-scrollbar-track {
  background: white; 
  border-radius: 16px;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgb(221, 221, 221);
  border-radius: 16px 
}

.containerImg{
    width: 50%;
    position: relative;
    left: 20%;
  }

@media(max-width: 450px) {
    .containerImg {
      display: none;
    }  
    
}

.checkbox{
  display: inline;
  width: 90%;
  font-size: 16px;
  border: 0%;
  padding: 0%;
}

.inputCheckbox {
  display: inline;
  width: 20%;
  font-size: 10px;
  text-align: justify;
}

img {
    max-width: 100%;
    min-width: 200px;
}