* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }

input{
  display: flex;
  border: 1px solid #ccc;
  width: 95%;
  padding: 0.8rem;
  margin-top: 8px;
  border-radius: 8px;
  height: 16px;
}

h4{
    text-decoration: underline;
    color: rgb(54, 54, 54);
}

button {
    background-color: #517655;
    cursor: pointer;
    border-radius: 8px;
    padding: 1%;
    width: 45%;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    margin: 6%;
    font-size: max(12px, 1.5vw);
}

section{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 5%;
 }

 @media(max-width: 800px) {
    .containerImg {
        display: block;
    }
}
@media(max-width: 600px) {
    .containerImg {
        display: none;
    }
}
  
  .content{
    height: 98%;
    margin-top: 12px;
    margin-left: 6px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .content1{
    background-color: #FFFFFF;
    width: 65%;
    height: 23rem;
    padding: 6px;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    display: flexbox;
    padding: 1vw;
    position: relative;
    font-size: 1rem;
    min-width: 275px;
    margin-top: 18px;
  }

  .content::-webkit-scrollbar{
    width: 6px;   
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #adadad;
  }
  
  .content::-webkit-scrollbar-track {
    background: white; 
    border-radius: 16px;
  }
  
  .content::-webkit-scrollbar-thumb {
    background-color: rgb(221, 221, 221);
    border-radius: 16px 
  }

  .containerImg{
    width: 50%;
    margin-top: 10%;
  }

  @media(max-width: 650px) {
    .containerImg {
      display: none;
      margin-top: 600px;
      margin-top: 60px;
    }
    .content1  {
      margin-left: 75px;
      margin-top: 18px;
    }
    .containerImg{
      align-items: center;
    }
}


.checkbox{
  display: inline;
  width: 90%;
  font-size: 16px;
  border: 0%;
  padding: 0%;
}

.inputCheckbox {
  display: inline;
  width: 20%;
  font-size: 10px;
  text-align: justify;
}

center {
    margin: 5%;
}

section {
    align-content: center;
    justify-items: center;
}

.imagem{
    position: absolute;
    right: 14%;
    top: 13rem;
}

img {
    max-width: 100%;
    min-width: 10%;
}