* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }

  #borda{
    background: linear-gradient(to right, #517655, #B2CEB5);
    padding: 1%;
  }

input{
  display: flex;
  border: 1px solid #ccc;
  width: 95%;
  padding: 0.8rem;
  margin-top: 8px;
  border-radius: 8px;
  height: 16px;
}

button {
    background-color: #517655;
    cursor: pointer;
    border-radius: 8px;
    padding: 3%;
    width: 45%;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    margin: 2%;
    font-size: max(12px, 10%);
}

section{
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-content: center;
    margin: 10%;
 }

 @media(max-width: 800px) {
    .containerImg {
        display: block;
    }
}

@media(max-width: 600px) {
    .containerImg {
        display: none;
    }
}
  
.content{
    height: 98%;
    padding: 1rem;
  }

.content1{
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    display: flexbox;
    font-size: 1rem;
    min-width: 300px;
  }

.containerImg{
    width: 50%;
    position: relative;
  }

@media(max-width: 400px) {
    .containerImg {
      display: none;
    }
    section{
      margin: 7rem;
    }
}

.checkbox{
  display: inline;
  width: 90%;
  font-size: 16px;
  border: 0%;
  padding: 0%;
}

.inputCheckbox {
  display: inline;
  width: 20%;
  font-size: 10px;
  text-align: justify;
}