* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

  }

  #borda{
    background: linear-gradient(to right, #517655, #B2CEB5);
    padding: 1%;
  }

.conteiner{
  display: flex;
  align-items: center;
}

.content{
  display: flex;
  gap: 10rem;
}

.content1{
  background-color: #FFFFFF;
  width: 32vw;
  height: 28vw;
  padding: 6px;
  border-radius: 16px;
  min-width: 200px;
  
}

.content2 {
  height: 98%;
  overflow: hidden;
  overflow-y: scroll;
  margin: 8px;
  padding: 1rem;
  padding-bottom: 2rem;
  min-width: 200px;
}

.containerImg{
  width: 22vw;
}

@media(max-width: 600px) {
  .containerImg {
      display: none;
  }
  .content1 {
    min-width: 150px;
  }
}

.imgg {
  max-width: 100%;
  min-width: 200px; 
}


.content2::-webkit-scrollbar{
  width: 6px;   
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #adadad;
}

.content2::-webkit-scrollbar-track {
  background: white; 
  border-radius: 16px;
}

.content2::-webkit-scrollbar-thumb {
  background-color: rgb(221, 221, 221);
  border-radius: 16px 
}



input{
  display: flex;
  border: 1px solid #ccc;
  width: 95%;
  padding: 0.8rem;
  margin-top: 8px;
  border-radius: 8px;
  height: 16px;
}

.estiloh4{
    text-decoration: underline;
    color: rgb(54, 54, 54);
}

.estiloh5{
  color: #517655;
  text-align: end;
  padding-right: 18px;
}

button {
    background-color: #517655;
    cursor: pointer;
    border-radius: 8px;
    padding: 1%;
    width: 45%;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    margin: 6%;
    font-size: max(12px, 1vw);
}

.checkbox{
  display: inline;
  width: 90%;
  font-size: 16px;
  border: 0%;
  padding: 0%;
}

.inputCheckbox {
  display: inline;
  width: 20%;
  font-size: 10px;
  text-align: justify;
}