* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }

body {
        background: linear-gradient(to right, #517655, #B2CEB5);
        font-family: "Inter", sans-serif;
        font-weight: bold;
        font-style: normal;
}