* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }

body {    
        font-family: "Inter", sans-serif;
        font-weight: bold;
        font-style: normal;
        background-color: #ffffff;
        text-align: justify;
}

#root {
  height: 100vh;
}
